/*.header{
    background: #fff url("http://alterainvest.ru/bitrix/templates/ALTERA_MAIN/images/pattern.png") 0 0;
    box-shadow: 0 16px 24px -24px #fff inset;
    color: #000;
}*/
.region{
    width: 230px;
    display: inline;
}
.region>button{
    outline:none;
    border:none;
    color: #eee;
}
.region>button:hover{
    color: #fff;
    text-decoration: none;
}
.region>button:focus{
    color: #fff;
    text-decoration: none;
    outline:none;
    border:none;
}
.regionCity{
    border-bottom: 1px dotted
}
.modal-text{
    color:#000;
}
.headerPhone{
    font-size: 12pt;
    color: #000;
    margin: 3px 0;
}
.headerPhone>div>p{
    margin: 0;
}
.headerPhone>div>p>span{
    position: relative;
    top: 4px;
}
.headerPhoneSmall{
    font-size: 9pt;
    color: #222;
}
.headerAddress{
    margin-top: 10px;
    width: 100%;
}
.logo{
    font-family: Georgia, serif;
}
.logo>a>img{
    margin:15px 0 0 0;
    max-width: 350px;
}
.counters{
    margin-top:50px;
    font-size: 12pt;
}
.counters>div>div>a>p{
    font-family: Georgia, serif;
}
.countersSold{
    float: right;
    margin: 0 -5px 0 0;
}
.countersAvailable{
    margin:0;
    position:relative;
    left:-10px;
}
.counters>p>span{
    border-bottom: 1px dotted;
}
.counters>p>span>a{
    color:#fff;
    text-decoration: none;
}
.sch{
    background: url("/img/sch.png");
    width: 36px;
    height: 60px;
    font-size: 36pt;
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
}
.sch>p{
    margin-top: -3px;
}
.modeWorks{
    margin-top:12px;
}
.modeWorks>div{
    padding-left: 0;
}
.modeWorks>div>div>button{
    height: 74px
}
#modeWorksClock{
    margin-top:5px;
    font-size: 36pt;
    color: #5cb85c;
}
#modeWorksStat{
    font-weight: 600;
}
#modeWorksText{
    font-size: 10pt;
}
.hello{
    background: url("/img/imglead5.jpg") no-repeat;
    box-shadow: 0 -16px 54px -31px #000000;
    background-size: cover;
    color: #000;
    padding:15px 0;
}
.hello>div{
    padding: 0 40px;
}
.hotButton>button{
    width: 200px;
    margin-right: 15px;
}
.helloFeedback{
    background-color: rgba(255, 255, 255, 0.15);
    margin-top: 5px;
    padding: 1px 15px 15px 15px;
}

.btn-inverse {
    color: #fff;
    background-color: #2c3e50;
    border-color: #233446;
    outline:none;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
}
.btn-inverse:focus{
    color: #fff;
    background-color: #22303E;
    border-color: #22303E;
    outline:none;
}
.btn-inverse:hover {
    color: #fff;
    background-color: #22303E;
    border-color: #22303E;
    outline:none;
}
.btn-inverse:active{
    color: #fff;
    background-color: #22303E;
    border-color: #22303E;
    outline:none;
}
.headerBlock{
    border-bottom: 35px solid #34495e;
    border-right: 20px solid transparent;
    height: 0;
    width: 250px;
    padding-top: 10px;
    padding-left: 10px;
}
.headerBlock>p{
    margin-top: 5px;
    font-size: 13pt;
    color: #fff;
}
.infoBlock{
    background: #e1f5ff;
    box-shadow: 0 0 0 2px #cee1eb inset;
    padding: 10px 15px;
    margin: 0;
}
.mainBlock{
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 0 26px -15px #9db9cd inset;
}
.footer{
    background: #e1e1e1;
    margin-top: 15px;
    margin-right: 0;
    padding:10px 0;
    border-bottom: 6px solid #34495e;
    margin-left: 0;
}
.footerMenu{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #bbb;
}
.footerMenu>div>ul{
    margin: 0 0 15px 0;
    padding: 0 0 0 10px;
    list-style-type: none;
}
.footerMenu>div>ul>li{
    margin: 5px 0;
}
.label_new>p{
    color: #ffffff;
    font-weight: 600;
    margin: 5px 0 0 20px;
}
.label_new2{
    height:50px;
    width:50px;
    background: url(../img/label/new2.png) no-repeat;
    position: absolute;
    right: 5px;
    top:-10px;
}
.label_sold{
    height:50px;
    width:50px;
    background: url(../img/label/sold.png) no-repeat;
    position: absolute;
    right: 5px;
    top:-10px;
}
.ribbon{
    position: absolute;
    left: -17px;
    margin-top: -55px;
    min-width: 200px;
    height: 54px;
    padding-right: 45px;
    display: inline-block;
    background: url(../img/label/ribbon.png) no-repeat right -54px;
}
.ribbon_green{
    background-position: right -270px;
}
.ribbon>span{
    display: block;
    height: 54px;
    line-height: 36px;
    padding-left: 44px;
    background: url(../img/label/ribbon.png) no-repeat left 0;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    text-transform: uppercase;
    white-space: nowrap;
}
.ribbon2>span{
    display: block;
    height: 54px;
    line-height: 36px;
    padding-left: 44px;
    background: url(../img/label/ribbon.png) no-repeat left 0;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    text-transform: uppercase;
    white-space: nowrap;
}
.ribbon_green>span{
    background-position: left -216px;
}
#BuyFormOk{
    margin: 10px 0 0 0;
}
#sellFormOk{
    margin: 10px 0 0 0;
}
#claimFormOk{
    margin: 10px 0 0 0;
}
#reviewsFormOk{
    margin: 10px 0 0 0;
}
#docFormOk{
    margin: 10px 0 0 0;
}
.liked{
    /*box-shadow: 0 0 4px 0 #9d9d9d;
    margin: 15px 0;
    padding: 10px;*/
    margin: 15px 0 15px 0;
}
.liked>div>i{
    float:left;
    font-size: 72pt;
    margin-right: 10px;
}
.liked>div>p{
    font-size: 12pt;
    margin-top: 10px;
}
.h2title{
    border-bottom: 1px solid #dddddd;
}
.h2title>a{
    color: #000;
}
.blockTextReview{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.blockMMAboutUs{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.sourceMMAboutUs{
    padding-bottom: 5px;
    border-bottom: 1px solid #dddddd;
}
.pMMAboutUs{
    margin-top: 5px;
}
.hide-bullets {
    list-style:none;
    margin-left: -70px;
    margin-right: 13px;
    max-height: 400px;
}
.thumbnail {
    padding: 0;
    margin-bottom: 8px;
}
.thumbnail > img, .thumbnail a > img{
    /*height: 77px;*/
}
#slider-thumbs img{
    height: 77px;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
.tableMainInfo{
    border-top:2px solid #00a1cb;
}
.ico{
    width: 100%;
    max-width: 105px;
    height: auto;
    background:#ffffff;
    box-shadow: 0 0 17px -7px #aaaaaa inset;
    border-radius:5px;
    padding: 6px;
    transition: box-shadow .25s linear,color .25s linear,background-color .25s linear;
    margin-bottom: 5px;
}
.ico>span{
     color: #40aafc;
 }
.ico:hover{
    box-shadow: 0 0 17px -7px #aaaaaa inset,
                0 0 3px 0 #40aafc;
    /*box-shadow: 0 0 5px 0 #40aafc;*/
}
.listLead{
    list-style-image: url(../img/ico/icoCheck.png);
}
.listLead>li>a{
    color: #000;
    text-decoration: none;
}
.obj{
    max-width: 390px;
}
.imgObj{
    height:230px;
    width:100%;
    overflow:hidden;
    position:relative;
}
.imgObj>img{
    position:absolute;
    min-width:100%;
}
.headerMainBox{
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 30px;
    font-size: 11pt;
    color: #767676;
}
.headerInfoBox{
    margin-top: 10px;
}
.headerInfoBox>div>img{
    margin-top: 5px;
}
.menu{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: #2a2a2a;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.02) 35px, rgba(255, 255, 255, 0.02) 70px);
}
.menu>ul{
    padding-top: 15px;
}
.menu>ul>li{
    display: inline;
    margin-right: 25px;
    font-weight: 600;
    color: #bbbbbb;
}
.menu>ul>li>a{
    color: #bbb;
}
.menu>ul>li>a:hover{
    color: #fff;
}
/*.menu .btn-group{*/
    /*margin-top: -2px;*/
/*}*/
/*.menu .btn-group .dropdown-menu{*/
    /*margin-top: 14px;*/
/*}*/
/*.menu .btn-group>a{*/
    /*color: #bbbbbb;*/
/*}*/
/*.menu .btn-group>a:hover{*/
    /*color:#ffffff;*/
/*}*/
.homeMenu{
    background: #dc3a27;
    height: 100%;
    padding: 17px;
    border-top:4px solid #dc3a27;
}
.leadBox{
    width: 210px;
    display: inline-block;
    margin-right: 15px;
}
.headLeadBox{
    width:100%;
    height:64px;
    padding:2px;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.1) 35px, rgba(255, 255, 255, 0.1) 70px);
}
.headLeadBox>h4{
    color: #fff;
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.contentLeadBox{
    background: #fff;
    width: 210px;
    padding: 5px;
    height: 174px;
}
.contentLeadBox>p{
    text-align: center;
    font-size: 10pt;
    color: #999;
}
.contentLeadBox>p>img{
    height: 70px;
}
.buttonLeadBox{
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.1) 35px, rgba(255, 255, 255, 0.1) 70px);
    padding: 3px 8px;
    font-weight: 600;
    margin-bottom: 6px;
    border: 2px solid #d4d4d4;
}
.buttonLeadBox>a{
    color: #fff;
    display: block;
}
.buttonAllService{
    margin: 10px 0;
    padding: 6px;
    width: 160px;
    height: 40px;
    border: 3px solid #cacaca;
    background-color: #45939c;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.1) 35px, rgba(255, 255, 255, 0.1) 70px);
}
.buttonAllService>a{
    display: block; /* Ссылка как блочный элемент */
    font-size: 12pt;
    font-weight: 600;
    height: 100%; /* Высота на весь слой */
    color: #fff; /* Цвет ссылки */
}
.titleLeadBG{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 10px;
    margin: 20px 0;
}
.titleLeadBox{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 6px;
}
.titleLead{
    margin: 0;
    color: #fff;
}
.titleLead>img{
    margin: -6px 6px -6px -6px;
}
.readMoreLeadBox{
    text-align: center;
    font-size: 10pt;
    font-weight: 600;
    margin-top: 5px;
}
.readMoreLeadBox>a{
    color: #e22b1c;
}
.topBorderHeader{
    width: 100%;
    background: linear-gradient(to bottom, #219cbe, #1093b9);
}
.btn-kb{
    font-size: 13px !important;
}
#buttonUp{
    position:fixed;
    bottom:15px;
    right:15px;
    opacity: 0.6;
    display: none;
    cursor: pointer;
    transition: 0.5s;
}